.home__section {
    display: flex;
    padding: 30px;
  }

  .homeBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
  .find{  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .imFlexible{
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 20px;
  }